h4.main{
  margin-top: 0;
}

.all_question{
  text-align: left;
}

.qustion_count{
  font-weight: bold;
  margin-top: 0;
}

.user1{
  text-align: right;
}
.user2{
  text-align: right;
}

.user_img{
  text-align: right;
}

p.vote{
  margin-top: 20px;
}
