// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.good{
  width: 40px;
  text-align: center;
  margin:20px;
  position: relative;
}

.good_triangle{
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-bottom: 40px solid #9fa6ad;
}

.good .char{
  width:40px;
  position: absolute;
  left:20px;
  top:25px;
  line-height: 40px;
  color:#FFF;
  text-decoration: none;
}

.bad{
  width: 40px;
  text-align: center;
  margin:90px 20px;
  position: relative;
}
.bad_triangle{
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top: 40px solid #9fa6ad;
}

.bad .char{
  width:40px;
  position: absolute;
  top:-45px;
  left:20px;
  line-height: 40px;
  color:#fff;
  text-decoration: none;
}
