.login{
  padding: 30px;
}

.devise_links{
  clear: right;
}

.google{
  float: left;
  padding-bottom: 20px;
}

.facebook{
  float: right;
  padding-bottom: 20px;
}

.btn{
  width: 150px;
}

.mid_text{
  clear: right;
  text-align : center;
}

.field{
  padding-bottom: 10px;
}

.login_form{
  clear: right;
}

.actions{
  clear: right;
  float: right;
  margin-bottom: 10px;
}

.signup{
  padding: 10px 0px 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidemenu{
  padding: 10px;
}

ul.user_edit li{
  list-style: none;
  font-size: 15px;
}

ul.user_edit a{
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

ul.user_edit li:hover{
  background: #DCDCDC;
}

ul.user_edit a:hover{
  text-decoration: none;
}

h4.profile_title {
    font-weight: bold;
}
