.login{
  padding: 30px;
}


.devise_links{
  clear: right;
}

.google{
  float: left;
  padding-bottom: 20px;
}

.facebook{
  float: right;
  padding-bottom: 20px;
}

.btn{
  width: 150px;
}

.mid_text{
  clear: right;
  text-align : center;
}

.field{
  padding-bottom: 10px;
}

.login_form{
  clear: right;
}

.forgot{
  float: right;
  padding-bottom: 10px;
}

.actions{
  clear: right;
  float: right;
  margin-bottom: 10px;
}

.signup{
  padding: 10px 0px 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
